[Navigation]
up=./icons/up.png, 32, 32
next=./icons/next.png, 32, 32
previous=./icons/previous.png, 32, 32
contents=./icons/contents.png, 32, 32
index=./icons/index.png, 32, 32
inactive-up=./icons/up.png, 32, 32
inactive-next=./icons/next.png, 32, 32
inactive-previous=./icons/previous.png, 32, 32
inactive-contents=./icons/contents.png, 32, 32
inactive-index=./icons/index.png, 32, 32
